Flow01_20231205054056/Microsoft.Flow/flows/71652ba4-ddb6-4330-8cf2-8fc8fd63a575/definition.json
{"name":"2b05ffe3-42cc-4f5e-ab20-5a186ade26a3","id":"/providers/Microsoft.Flow/flows/2b05ffe3-42cc-4f5e-ab20-5a186ade26a3","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Computer Purchasing & Tracking","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"NeverTriggeringDetected","flowclientsuspensiontime":"2023-11-19T09:08:07.3361151Z","flowclientsuspensionreasondetails":"Flow has not ran at all in the past 90 days. Disabled it on 3/12/2023 9:04:48 AM.","creator":{"id":"4105eaf4-90e9-48ea-ac09-f9da904279ab","type":"User","tenantId":"8710b665-1e5a-4351-a6ea-8c27f575d5ed"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-11-02T11:04:01.4906106Z","flowChargedByPaygo":null,"connectionKeySavedTimeKey":"2023-11-19T09:08:07.3361151Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_item_is_created":{"recurrence":{"frequency":"Minute","interval":5},"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"e69116cc-e26c-4e95-937f-a549b54503c8"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnNewItems"},"parameters":{"dataset":"https://foxfactory.sharepoint.com/sites/FTWITpublic","table":"8d91a0ff-602b-4fd3-96ee-a7c66dce6900"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_items":{"runAfter":{},"metadata":{"operationMetadataId":"d9c13585-3ae3-4d34-b80d-b33e7f425a20"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://foxfactory.sharepoint.com/sites/FTWITpublic","table":"8d91a0ff-602b-4fd3-96ee-a7c66dce6900","$filter":"ID eq '@{triggerOutputs()?['body/ID']}'"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('Get_items')?['body/value']","actions":{"Start_and_wait_for_an_approval":{"runAfter":{},"metadata":{"operationMetadataId":"ad96a9dc-9b86-4942-b3d8-088594b963df"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"Computer Purchasing","WebhookApprovalCreationInput/assignedTo":"@{triggerOutputs()?['body/Approver/Email']};","WebhookApprovalCreationInput/details":"# Approval Notification\nThis is IT confirmation message.\nPlease make sure the request is correctly **before** approving this request.\n\n**Department** : @{items('Apply_to_each')?['Dept_x002e_/Value']}\n**Applier** : @{items('Apply_to_each')?['Author/DisplayName']}\n**Content** : @{items('Apply_to_each')?['Whatyouneed/Value']}\n**Laptop** : @{items('Apply_to_each')?['LaptopSpecification/Value']}\n**Amount** : @{items('Apply_to_each')?['Amount']}\n**Note** : @{items('Apply_to_each')?['Note']}\n","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Approval_result_by_Manager":{"actions":{"Update_Status_to_approve":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Update_item":{"runAfter":{},"metadata":{"operationMetadataId":"cfe3f82c-fd14-4d9a-9203-0a169b6ef66b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://foxfactory.sharepoint.com/sites/FTWITpublic","table":"8d91a0ff-602b-4fd3-96ee-a7c66dce6900","id":"@triggerOutputs()?['body/ID']","item/Title":"@items('Apply_to_each')?['Title']","item/Amount":"@items('Apply_to_each')?['Amount']","item/Reason":"@items('Apply_to_each')?['Reason']","item/status/Value":"approve","item/Stage/Value":"IT processing"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"metadata":{"operationMetadataId":"e1ded404-3576-407b-ae0e-3ec79da1132f"},"type":"Foreach"},"Apply_to_each_3":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Send_an_email_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"c6bd6571-7028-4ae0-b385-599f327f0b44"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"joechen@ridefox.com","emailMessage/Subject":"Computer Purchasing (Approve)","emailMessage/Body":"<p>Hi IT team,<br>\n<br>\nThere is the new requirement.<br>\nPlease give a favor to confirm.<br>\n<br>\n**Department** : @{items('Apply_to_each')?['Dept_x002e_/Value']}<br>\n**Applier** : @{items('Apply_to_each')?['Author/DisplayName']}<br>\n**Content** : @{items('Apply_to_each')?['Whatyouneed/Value']}<br>\n**Laptop** : @{items('Apply_to_each')?['LaptopSpecification/Value']}<br>\n**Amount** : @{items('Apply_to_each')?['Amount']}<br>\n**Note** : @{items('Apply_to_each')?['Note']}<br>\n<br>\nThanks.<br>\n<br>\nBR,<br>\n@{items('Apply_to_each')?['Author/DisplayName']}</p>","emailMessage/From":"@items('Apply_to_each')?['Author/Email']","emailMessage/Cc":"@items('Apply_to_each_3')?['responder/email']","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Update_Status_to_approve":["Succeeded"]},"metadata":{"operationMetadataId":"ec6458e5-dda8-4882-8531-db01d9d89850"},"type":"Foreach"}},"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"else":{"actions":{"Apply_to_each_5":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Update_item_3":{"runAfter":{},"metadata":{"operationMetadataId":"f437987d-cc4b-45d8-aad4-37af3454698f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://foxfactory.sharepoint.com/sites/FTWITpublic","table":"8d91a0ff-602b-4fd3-96ee-a7c66dce6900","id":"@items('Apply_to_each')?['ID']","item/Title":"Computer  Purchasing","item/Amount":"@items('Apply_to_each')?['Amount']","item/Reason":"@items('Apply_to_each')?['Reason']","item/status/Value":"reject","item/Stage/Value":"close"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"metadata":{"operationMetadataId":"ef1e208d-d7ac-4bef-8c4f-fd28e04c24db"},"type":"Foreach"},"Apply_to_each_2":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Send_an_email_(V2)_2":{"runAfter":{},"metadata":{"operationMetadataId":"542208e3-cf66-4ac8-954a-e274dbedb04d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@triggerOutputs()?['body/Author/Email']","emailMessage/Subject":"Computer Purchasing (Reject)","emailMessage/Body":"<p>Hi @{items('Apply_to_each')?['Author/DisplayName']},<br>\n<br>\nYour requirement is rejected.<br>\n<br>\nBR,<br>\nFTW IT</p>","emailMessage/Cc":"@items('Apply_to_each_2')?['responder/email']","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Apply_to_each_5":["Succeeded"]},"metadata":{"operationMetadataId":"5f08fec7-9def-4c9e-abb6-ee0232fbe290"},"type":"Foreach"}}},"expression":{"not":{"equals":["@outputs('Start_and_wait_for_an_approval')?['body/outcome']","Reject"]}},"metadata":{"operationMetadataId":"70f043e7-3b66-4323-bb16-7001b7162cc2"},"type":"If"}},"runAfter":{"First_item_update":["Succeeded"]},"metadata":{"operationMetadataId":"1e18ef5b-a0bb-4b81-8599-cab500d90ca8"},"type":"Foreach"},"First_item_update":{"foreach":"@outputs('Get_items')?['body/value']","actions":{"Update_item_2":{"runAfter":{},"metadata":{"operationMetadataId":"993b1047-a761-42eb-a505-46d7503cba40"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://foxfactory.sharepoint.com/sites/FTWITpublic","table":"8d91a0ff-602b-4fd3-96ee-a7c66dce6900","id":"@triggerOutputs()?['body/ID']","item/Title":"Computer  Purchasing","item/Amount":"@items('First_item_update')?['Amount']","item/Reason":"@triggerOutputs()?['body/Reason']","item/status/Value":"new","item/Stage/Value":"pending","item/StatusTimeLine":"Manager is @{outputs('Get_manager_(V2)')?['body/displayName']}\nApproval Started By @{triggerOutputs()?['body/Author/DisplayName']}\nApproval Started At @{convertFromUtc(triggerOutputs()?['body/Created'],'Pacific Standard Time','M/dd/yyyy h:mm tt')}"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_manager_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"6e6d7fe9-8819-403e-b4f7-d5a82d111fa8"},"type":"Foreach"},"Get_manager_(V2)":{"runAfter":{"Get_items":["Succeeded"]},"metadata":{"operationMetadataId":"a821fc8e-d5ee-4cbf-b97d-491cdd79b174"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"Manager_V2"},"parameters":{"id":"@triggerOutputs()?['body/Author/Email']"},"authentication":"@parameters('$authentication')"}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-9db37bbc-4b29-474e-920e-90a5fbc5ca0c","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_approvals":{"connectionName":"shared-approvals-19e76932-92d7-44d6-a72d-2cad51946964","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-66cd756a-a548-47d0-adbf-14a2357e2e5e","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_office365users":{"connectionName":"shared-office365user-3e4f6a7d-a8f8-4135-afc3-2c9675212e50","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}